*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header{
    width: 100%;
    height: 178px;
    background-color: #61ADA0;
}

#info-header{
    padding-top: 0.7%;
    padding-left: 0.7%;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo-principal{
    width: 148px;
    height: 148px;
    display: inline-block;
}

#div-contato{
    width: 195.13px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-contato{
    height: 61.72px;
    margin-left: 15%;
}

#div-produtos{
    width: 225.99px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-produtos{
    height: 61.72px;
    margin-left: 3%;
}

#div-quem-somos{
    width: 286.72px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-quem-somos{
    height: 61.72px;
    margin-left: 3%;
}

#div-carrinho{
    width: 208.07px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-carrinho{
    height: 61.72px;
    margin-left: 3%;
}

#div-login{
    width: 124.45px;
    height: 61.72px;
    background-color: #B2D5BA;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-login{
    height: 61.72px;
    margin-left: 3%;
}

#div-lupa{
    width: 95.57px;
    height: 92.59px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 50px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-lupa{
    height: 92.59px;
    margin-left: 3%;
    border-radius: 50px;
}

#lupa{
    width: 60px;
    padding-top: 15%;
}

#div-contato:hover{
    background-color: #B2D5BA;
}

#div-produtos:hover{
    background-color: #B2D5BA;
}

#div-quem-somos:hover{
    background-color: #B2D5BA;
}

#div-carrinho:hover{
    background-color: #B2D5BA;

}

#div-login:hover{
    background-color: #B2D5BA;
} 

#div-lupa:hover{
    background-color: #B2D5BA;
}/*codigo header*/

#login-espaco{
    width: 100%;
}

#div-cadastro{
    width: 1278px;
    height: 772px;
    background-color: #EFF3CD;
    border-radius: 50px;
    margin: 3% 0% 0% 15%;
    text-align: center;
}

#e-mail{
    width: 229px;
    height: 68px;
    background-color: #B2D5BA;
    font-size: 48px;
    border-radius: 50px;
    margin: 0% 0% 0% 25%;
    transform: translateY(100px);
}

#espaco-mail{
    width: 615px;
    height: 68px;
    background-color: #B2D5BA;
    border-radius: 50px;
    margin: 12% 0% 0% 25%;
}

#txt-mail{
    width: 615px;
    height: 68px;
    background-color: transparent;
    border-radius: 50px;
    border: transparent;
    font-size: larger;
    padding-left: 5%;
}

#senha{
    width: 229px;
    height: 68px;
    background-color: #B2D5BA;
    font-size: 48px;
    border-radius: 50px;
    margin: 0% 0% 0% 25%;
    transform: translateY(100px);
}

#espaco-senha{
    width: 615px;
    height: 68px;
    background-color: #B2D5BA;
    border-radius: 50px;
    margin: 12% 0% 0% 25%;
}

#txt-senha{
    width: 615px;
    height: 68px;
    background-color: transparent;
    border-radius: 50px;
    border: transparent;
    font-size: larger;
    padding-left: 5%;
}

#cadastre-se{
    width: 367px;
    height: 101px;
    border-radius: 50px;
    background-color: #B2D5BA;
    font-size: 48px;
    transition: 0.3s all;
    border: none;
    margin: 4% 0% 0% 0%;
}

#cadastre-se:hover{
    background-color: #61ADA0;
}

#roda-pe{ /*roda pe*/
    width: 100%;
    background-color: #61ADA0;
    height: 157px;
    margin-top: 3%;
    padding-left: 0.5%;
    vertical-align: top;
}

#logo-roda-pe{
    width: 135px;
    height: 135px;
    display: inline-block;
}

p{
    display: inline-block;
    width: 70%;
    vertical-align: top;
    font-size: 24px;
    margin: 30px 0px 0px 30px;
}
