*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    overflow-y: hidden;
}

.jersey-20-regular {
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#header{
    width: 100%;
    height: 161px;
    background-color: #61ADA0;
}

#info-header{
    padding-top: 0.7%;
    padding-left: 0.7%;
    width: 95%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo-principal{
    width: 140.76px;
    height: 140.76px;
    display: inline-block;
}

#div-contato{
    width: 195.13px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-contato{
    height: 61.72px;
    margin-left: 15%;
}

#div-produtos{
    width: 225.99px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-produtos{
    height: 61.72px;
    margin-left: 3%;
}

#div-quem-somos{
    width: 286.72px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-quem-somos{
    height: 61.72px;
    margin-left: 3%;
}

#div-carrinho{
    width: 208.07px;
    height: 61.72px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-carrinho{
    height: 61.72px;
    margin-left: 3%;
}

#div-login{
    width: 124.45px;
    height: 61.72px;
    background-color: #EFF3CD   ;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 20px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-login{
    height: 61.72px;
    margin-left: 3%;
}

#div-lupa{
    width: 95.57px;
    height: 92.59px;
    background-color: #EFF3CD;
    text-align: center;
    padding-top: 0.5%;
    border-radius: 50px;
    font-size: 48px;
    display: inline-block;
    color: black;
    box-shadow: -5px 5px rgba(0, 0, 0, 50%);
    transition: 0.3s all;
}

#a-lupa{
    height: 92.59px;
    margin-left: 3%;
    border-radius: 50px;
}

#lupa{
    width: 60px;
    padding-top: 15%;
}

#div-contato:hover{
    background-color: #B2D5BA;
}

#div-produtos:hover{
    background-color: #B2D5BA;
}

#div-quem-somos:hover{
    background-color: #B2D5BA;
}

#div-carrinho:hover{
    background-color: #B2D5BA;

}

#div-login:hover{
    background-color: #B2D5BA;
} 

#div-lupa:hover{
    background-color: #B2D5BA;
}/*codigo header*/

#monitor-img{
    width: 800px;
    margin-bottom: 3%;
}

#monitor-div{
    width: 50%;
    font-size: 37px;
    margin: 1% 0% 0% 2%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#info-compra{
    width: 44.1%;
    background-color: #B2D5BA;
    height: 87vb;
    display: inline-block;
    margin-left: 69.8px;
    font-size: 60px;
    text-align: center;
}

#nome-produto{
    width: 771px;
    margin: 18% 0% 0% 5%;
}

#valor-real{
    font-size: 58px;
    color: #747474;
    margin-left: 3%;
    text-decoration: line-through;
    display: inline-block;
}

#valor-desconto{
    display: inline-block;
    margin: 4% 2% 0% 0%;
    color: #02AA0D;
}

#valor-pos{
    font-size: 88px;
    margin-top: 6%;
}

#comprar-botao{
    font-size: 90px;
    background-color: #61ADA0;
    width: 450px;
    height: 110px;
    border-radius: 50px;
    border: none;
    transition: all 0.3s;
    margin-top: 80px;
}

#comprar-botao:hover{
    filter: brightness(80%);
}